/* CSS files add styling rules to your content */

body {
  background-color: white;
  background-image: url ("ivory-off-white-paper-texture.jpg");
  margin-left:50px;
  
  
  
  border:1px solid white;
  
  
  
  padding:0px;

  
}



#sidebar{
  border:1px solid white;
  
  width:100vh;
  height:30px;
  
  position:absolute;
  position:fixed;
  
  display:flex;
  flex-flow: row wrap;
  
  transform-origin: 0 0;
    
  transform:rotate(90deg);
  

}

.array{
  
  border:1px solid white;
  
  margin-left:7vh;
  
  margin-right:vh;
  
  width:25vh;
  
  text-align: center;
  
  display:flex;
  flex-flow: row wrap;
  

}

.header{
      padding-left:13px;
      position:absolute;
      z-index:2;
      transform: translate(42px, 0)
 }

.oval {
  width: 55px;
  height: 30px;
  background: rgb(241, 193, 255);
  border-radius: 15px / 15px;

  z-index:1;
}

.oval:hover{
 
  width:115px;
  
  transition-property: width; 
}

.aboveletter{
  
  transform: translate(10px, 0)
  
}


#underletter{
  font-size:14px;
  color:rgb(248, 207, 248);
}

p{font-size:80px;
  margin-top:106px;
  color:white;



}

h1 {
  
  color: white;

  font-size:10px;
  /*   transform:rotate(-90deg);
   */
  z-index:2;
  
  position:absolute;
  
  
}

#title{
  border:1px solid white;
  
  margin-left:40px
  
    }

#content{
  border:1px solid white;
  margin-left:17px;
  
  height:auto;
  display:flex;
  flex-flow:row wrap;

  
}


#vertical{
  position:absolute;
    transform: translate(58vw, 50vh) rotate(90deg) ;
  
  color:white;
  
}

#droppingball{
  position:absolute;
  width: 100px;
  height: 100px;
  background: #fdc4ff;
  border-radius: 50px;
    
  transform: translate(82.7vw, 20vh);
  
  animation: dropping 15s ease-in-out infinite normal;

}
@keyframes dropping{
  0%{
    background-color:blue;
    transform:translate(82.7vw, 10vh);
  }
  
  25%{
    
    height: 170px;
    
  }
  
  50%{
    background-color:blue;
    transform:translate(82.7vw, 90vh);
    height: 100px;
    
    
  }
  
  100%{
    background-color:blue;
    transform:translate(82.7vw, 10vh);
  }
}


#shapes{
  border:1px solid white;
  height:80px;
  width:30vw;
  position:absolute;
  transform: translate(2vw, 2vh);
  display:flex;
  flex-flow:row wrap;
  
  }
.rectstatic1{
  margin-right:30px;

  background-color:rgb(224, 172, 255);
  height:80px;
  width:13px;
    display:flex;
  flex-flow:row wrap;
  }

.rectstatic2{
  margin-right:30px;

  background-color:rgb(252, 158, 255);
  height:80px;
  width:13px;
  position:absolute;
  
  transform:translate(59vw, 0);
  }


#rec1{
  position:absolute;
  background-color:rgb(242, 180, 255);
  height:80px;
  width:5px;
  animation: move1 15s ease-in-out infinite normal;
  
}

#rec2{
  position:absolute;
  background-color:rgb(248, 194, 255);
  height:80px;
  width:5px;
  animation: move1 4s ease-in-out infinite normal;
  }

#rec3{
  position:absolute;
  background-color:rgb(247, 182, 253);
  height:80px;
  width:5px;
  animation: move1 3s ease-in-out infinite normal;
  
}

#rec4{
  position:absolute;
  background-color:blue;
  height:80px;
  width:5px;
  animation: move1 3.2s ease-in-out infinite normal;
  
}

#rec5{
  position:absolute;
  background-color:blue;
  height:80px;
  width:5px;
  animation: move1 6s ease-in-out infinite normal;
  
}

#rec6{
  position:absolute;
  background-color:blue;
  height:80px;
  width:5px;
  animation: move2 6s ease-in-out infinite normal;
  
}

#rec7{
  position:absolute;
  background-color:blue;
  height:80px;
  width:5px;
  animation: move2 8s ease-in-out infinite normal;
  
}

#rec8{
  position:absolute;
  background-color:blue;
  height:80px;
  width:5px;
  animation: move2 4s ease-in-out infinite normal;
  
}



@keyframes move1{
  0%{
    background-color:blue;
    transform:translate(0, 0);
  }
  
  50%{
    background-color:blue;
    transform:translate(59vw, 0);
  }
  
  100%{
    background-color:blue;
    transform:translate(0vw, 0);
  }
}

@keyframes move2{
  0%{
    background-color:blue;
    transform:translate(59vw, 0);
  }
  
  50%{
    background-color:blue;
    transform:translate(0, 0);
  }
  
  100%{
    background-color:blue;
    transform:translate(59vw, 0);
  }
}





.sections1{
  
  border:1px solid #e0e0e0;
  margin:14px;
  
  padding:0px;
  
  background-color:#e0e0e0;
  
  
  
  width:200px;
  height:200px;
  
/*   Transition-duration:0.5s; 
  Transition-timing-function:ease-out; 
  Transition-delay:0.1s
   */
}

.sectionsunder{
  
  
  border:1px solid #e0e0e0;
  margin:0px;
  
  padding:10px;
  
  background-color:#e0e0e0;
  
  position:absolute;
  
  z-index:1;
  
  width:180px;
  height:180px;
  
  Transition-duration:0.5s; 
  Transition-timing-function:ease-out; 
  Transition-delay:0.1s;
    
      transition-property: transform,margin-left,margin-top,width,height; 
}


.sectionsunder:hover{
  background-color:grey;
  transparency:20%;
  
  margin-left:65px;
  margin-top:15px;
  
  z-index:3;
  
  width:500px;
  height:300px;
  
  transform: 0;
  
  transform-origin: 0;
  
  
  

}

#p1{
  background-image: url(./images/jazz.jpeg );
  background-size: cover;
  background-position: center;
  }
#p2{
  background-image: url(./images/jazz.jpeg );
  background-size: cover;
  background-position: center;
  }
#p3{
  background-image: url(./images/jazz.jpeg );
   background-size: cover;
  background-position: center;
  }
#p4{
  background-image: url(./images/jazz.jpeg );
   background-size: cover;
  background-position: center;
  }
#p5{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }
#p6{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }
#p7{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }
#p8{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }
#p9{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }
#p10{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }
#p11{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }
#p12{
  background-image: url(./images/jazz.jpeg );
    background-size: cover;
  background-position: center;
  }





.sectionscover{
  
  
  border:1px solid #e0e0e0;
  margin:0px;
  
  padding:10px;
  
  background-color:#e0e0e0;
  
  position:absolute;
  
  z-index:2;
  
  
  width:180px;
  height:180px;
  
  Transition-duration:1.5s; 
  Transition-timing-function:ease-out; 
  Transition-delay:0.1s
    
    
}

.sectionscover:hover{
  background-color:blue;
  
  width:160px;
  
  margin-top:15px;
  
  transform: skewX(12deg) rotate(20deg);
  
  transform-origin: -50% 30%;
  
  z-index:3;
  
  transition-property: transform, background-color,margin-top,width; 
}




#tri1{
  
      width: 0;
      height: 0;
      border-top: 200px solid red;
      border-right: 200px solid transparent;
}







.testsec{
  
  
  
}

#coverimage1{
  
  
  
}


h2{
  
  
  color: blue;
  
  font-size:40px;
  
  }

h3{
  
  
  color: white;
  
  font-size:14px;
  
  }


main {
  background-color: green;
  margin: 0px;
  padding: 0;
 border:1px solid black;
  
}



