p{
    color:green;
}

h1{

    color:yellow;
}

html{
    font-size:1em;
  }
  
  body{
    font-family:"Times new roman", serif;
    background-color:ivory;
    margin-left:20px;
  }
  

  main{
    width:60vw;
    color:blue;
  }

  h1{
    font-weight:400;
    font-size:2.5rem;
    line-height: 150px;
  }
  
  h2{
    font-weight:400;
    font-size:1.7rem;
    padding-top:1.5rem;
  }
  
  h3{
    font-weight:400;
    font-size:1.3rem;
    color:#c01fff;
    padding-bottom:1.5rem;
  }
  
  p{
    font-size:1.3rem;
    margin:0px;
    text-indent: 35px;
  }
 
