*{ padding: 0;
  margin: 0;
  }

  @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
  
  
  .box{display: grid;
      width: 100vw;
      height: 100vh;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      
        grid-area: 1 / 1 / span 1 / span 1;
      background-color: white;
      }
      
      .goa{padding:100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
        transition: background-color 1s ease-in-out;
        background-color: #205672;
        /* text-decoration: wavy overline white; */
       
      }

      
    
      .goa:hover {
        
        background-color: #205672;
        font-size: 10px;
        font-family: monarcha, serif;
        font-weight: 200;
        font-style: normal;
        text-color: white;
        width: 30vw;
        height: 100vh;
        
    
      }
  
     
      img.one {
        /* max-width: 100%;  
        height: auto;   */
        fo
        max-width: 50vw;
        height: auto;
      
      }
      
      .agra{padding: 100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition-property: opacity;
        transition: background-color 2s ease-in-out;
        background-color:#216c84;
        text-color
      }
  
  
      .agra:hover {
        
        background-color: #216c84;
       width: 30vw;
      height: 100vh;
      
      }

      img.two {
        /* max-width: 100%;  
        height: auto;   */
        max-width: 50vw;
        height: auto;
      
      }
  
      .phuket{padding:100px;
        opacity: 100%;
          font-family: Helvetica, sans-serif;
        overflow: scroll;
        transition-property: opacity;
          transition: background-color 2s ease-in-out;
          background-color:#228798;
          text-color
        }
        
        .phuket:hover {
          
          
        background-color: #228798;
          font-size: 10px;
          font-family: monarcha, serif;
          font-weight: 200;
          font-style: normal;
          text-color: white;
          width: 30vw;
          height: 100vh;
        
        }
  
        img.three {
          /* max-width: 100%;  
          height: auto;   */
          max-width: 50vw;
          height: auto;
        
        }
      .london{padding:100px;
        opacity: 100%;
          font-family: Helvetica, sans-serif;
        overflow: scroll;
        transition-property: opacity;
          transition: background-color 2s ease-in-out;
          background-color: #22a5ab;
          text-color
      }
  
  
      .london:hover {
          
        background-color:  #22a5ab;
        font-size: 10px;
        font-family: monarcha, serif;
        font-weight: 200;
        font-style: normal;
        text-color: white;
        width: 30vw;
      height: 100vh;
      
      }

      img.five {
        /* max-width: 100%;  
        height: auto;   */
        max-width: 50vw;
        height: auto;
      
      }
      
      .mexico{padding: 100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition-duration: 500ms;
      transition: background-color 2s ease-in-out;
      background-color: #22c0b7;
      }
      
      .mexico:hover {
          
        background-color: #22c0b7;
        width: 30vw;
        height: 100vh;
      
      }
      img.six {
        /* max-width: 100%;  
        height: auto;   */
        max-width: 50vw;
        height: auto;
      
      }
      .norway{padding: 100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition-duration: 500ms;
      transition: background-color 2s ease-in-out;
      background-color: #20d5b9;
      }
  
  
      .norway:hover {
          
        background-color: #20d5b9;
        width: 30vw;
        height: 100vh;
      
      }
      img.seven {
        /* max-width: 100%;  
        height: auto;   */
        max-width: 50vw;
        height: auto;
      
      }

  
      .losangeles{padding: 100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition-duration: 500ms;
      transition: background-color 2s ease-in-out;
      background-color: #26e3b3;
      }
  
      .losangeles:hover {
          
        background-color: #26e3b3;
        width: 30vw;
        height: 100vh;
      
      }

      img.eight {
        /* max-width: 100%;  
        height: auto;   */
        max-width: 50vw;
        height: auto;
      
      }


      
      .Alaska{padding: 100px;
      opacity: 100%;
      font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition: background-color 2s ease-in-out;
      background-color: #33e9a9;
      }
      
      .Alaska:hover {
          
        background-color: #33e9a9;
        width: 30vw;
        height: 100vh;
      
      }
      img.nine {
        /* max-width: 100%;  
        height: auto;   */
        max-width: 50vw;
        height: auto;
      
      }
  
      .Dubai{padding: 100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition: background-color 2s ease-in-out;
      background-color: #42efa0;
      }
      
      .Dubai:hover {
          
        background-color: #42efa0;
        width: 30vw;
        height: 100vh;
      
      }

      img.ten {
        /* max-width: 100%;  
        height: auto;   */
        max-width: 50vw;
        height: auto;
      
      }
  
      .Indonesia{padding: 100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition-duration: 500ms;
      transition: background-color 2s ease-in-out;
      background-color: #51f499;
      }
  
  
      .Indonesia:hover {
          
        background-color:  #51f499;
        font-size: 10px;
        font-family: monarcha, serif;
        font-weight: 200;
        font-style: normal;
        text-color: #FDE74C;
        width: 30vw;
        height: 100vh;
      
      }
  
      .Hongkong{padding: 100px;
      opacity: 100%;
        font-family: Helvetica, sans-serif;
      overflow: scroll;
      transition-property: opacity;
      transition-duration: 500ms;
      transition: background-color 2s ease-in-out;
      background-color: #60f895;
      }
  
  
      .Hongkong:hover {
          
        background-color: #60f895;
        width: 30vw;
        height: 100vh;
      
      }
  
  
      .China{padding: 100px;
        opacity: 100%;
          font-family: Helvetica, sans-serif;
        overflow: scroll;
        transition-property: opacity;
        transition-duration: 500ms;
        transition: background-color 2s ease-in-out;
        background-color: #71fb93;
        }
    
    
        .China:hover {
            
          background-color: #71fb93;
          width: 30vw;
          height: 100vh;
        
        }
  
        .Maldives{padding: 100px;
          opacity: 100%;
            font-family: Helvetica, sans-serif;
          overflow: scroll;
          transition-property: opacity;
          transition-duration: 500ms;
          transition: background-color 2s ease-in-out;
          background-color: #82fe94;
          }
      
      
          .Maldives:hover {
              
            background-color: #82fe94;
            width: 30vw;
            height: 100vh;
          
          }
  
          .NewYork{padding: 100px;
            opacity: 100%;
              font-family: Helvetica, sans-serif;
            overflow: scroll;
            transition-property: opacity;
            transition-duration: 500ms;
            transition: background-color 2s ease-in-out;
            background-color: #97fea6;
            }
        
        
            .NewYork:hover {
                
              background-color: #97fea6;
              width: 30vw;
              height: 100vh;
            
            }
  
            .Boston{padding: 100px;
              opacity: 100%;
                font-family: Helvetica, sans-serif;
              overflow: scroll;
              transition-property: opacity;
              transition-duration: 500ms;
              transition: background-color 2s ease-in-out;
              background-color: #c1ffca;
              }
          
          
              .Boston:hover {
                  
                background-color: #c1ffca;
                width: 30vw;
                height: 100vh;
              
              }
  
              .Brighton{padding: 100px;
                opacity: 100%;
                  font-family: Helvetica, sans-serif;
                overflow: scroll;
                transition-property: opacity;
                transition-duration: 500ms;
                transition: background-color 2s ease-in-out;
                background-color: #c1ffca;
                }
            
            
                .Brighton:hover {
                    
                  background-color:  #e0ffe4;
                  width: 30vw;
                  height: 100vh;
                
                }
  
  
                .Laguna{padding: 100px;
                  opacity: 100%;
                    font-family: Helvetica, sans-serif;
                  overflow: scroll;
                  transition-property: opacity;
                  transition-duration: 500ms;
                  transition: background-color 2s ease-in-out;
                  background-color: #e0ffe4;
                  }
              
              
                  .Laguna:hover {
                      
                    background-color: #995D81;
                    font-size: 10px;
                    font-family: monarcha, serif;
                    font-weight: 200;
                    font-style: normal;
                    text-color: #eaffed;
                    width: 30vw;
                    height: 100vh;
                  
                  }
  
  
                  .Locarno{padding: 100px;
                    opacity: 100%;
                      font-family: Helvetica, sans-serif;
                    overflow: scroll;
                    transition-property: opacity;
                    transition-duration: 500ms;
                    transition: background-color 2s ease-in-out;
                    background-color: #eaffed;
                    }
                
                
                    .Locarno:hover {
                        
                      background-color:  #2176AE;
                      width: 30vw;
                      height: 100vh;
                    
                    }
  
                    .Venice{padding: 100px;
                      opacity: 100%;
                        font-family: Helvetica, sans-serif;
                      overflow: scroll;
                      transition-property: opacity;
                      transition-duration: 500ms;
                      transition: background-color 2s ease-in-out;
                      background-color: white;
                      }
                  
                  
                      .Venice:hover {
                          
                        background-color: #EB8258;
                        width: 30vw;
                        height: 100vh;
                      
                      }
  
  
  
  
                      .Providence{padding: 100px;
                        opacity: 100%;
                          font-family: Helvetica, sans-serif;
                        overflow: scroll;
                        transition-property: opacity;
                        transition-duration: 500ms;
                        transition: background-color 2s ease-in-out;
                        background-color: white;
                        }
                    
                    
                        .Providence:hover {
                            
                          background-color: #995D81;
                          width: 30vw;
                          height: 100vh;
                        
                        }
  
  
  
                      .Ranthambore{padding: 100px;
                        opacity: 100%;
                          font-family: Helvetica, sans-serif;
                        overflow: scroll;
                        transition-property: opacity;
                        transition-duration: 500ms;
                        transition: background-color 2s ease-in-out;
                        background-color: white;
                        }
                    
                    
                        .Ranthambore:hover {
                            
                          background-color: rgb(85, 47, 47);
                          font-size: 10px;
                          font-family: monarcha, serif;
                          font-weight: 200;
                          font-style: normal;
                         
                          width: 30vw;
                          height: 100vh;
  
                          
                        
                        }
  
  
  
                      .Mauritius{padding: 100px;
                        opacity: 100%;
                          font-family: Helvetica, sans-serif;
                        overflow: scroll;
                        transition-property: opacity;
                        transition-duration: 500ms;
                        transition: background-color 2s ease-in-out;
                        background-color: white;
                        }
                    
                    
                        
                      .Mauritius:hover {
                            
                          background-color: rgb(88, 46, 94);
                          font-size: 10px;
                          font-family: monarcha, serif;
                          font-weight: 200;
                          font-style: normal;
                         
                          width: 30vw;
                          height: 100vh;
                        
                        }
  
  
                      .Noclue{padding: 100px;
                        opacity: 100%;
                          font-family: Helvetica, sans-serif;
                        overflow: scroll;
                        transition-property: opacity;
                        transition-duration: 500ms;
                        transition: background-color 2s ease-in-out;
                        background-color: white;
                        }
                    
                    
                        .Noclue:hover {
                            
                          background-color:black;
                          font-size: 10px;
                          font-family: monarcha, serif;
                          font-weight: 200;
                          font-style: normal;
                          text-color: white;
                          width: 30vw;
                          height: 100vh;
                        
                        }
                        
                        
  h1{color:black;
      text-align: left;
      font-size: 30px;
      font-weight: 400;
      font-family: masqualero, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: white;
      
        
      }
  
  
      h1:hover{color: white;
        text-align: left;
        font-size: 30px;
        font-weight: 400;
        font-family: masqualero, sans-serif;
        font-weight: 700;
        font-style: normal;
        
          
        }
      
      h2{color: white;
        font-size: 20px;
        font-family: masqualero, sans-serif;
        font-weight: 400;
        font-style: normal;
        
      }
  
        
      h3{color: white;
        font-size: 30px;
        font-family: masqualero, sans-serif;
        font-weight: 400;
        font-style: normal;
        
      }

     /* .lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: lightgoldenrodyellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
} */


}