h1 {
  font-family: 'allcaps', helvetica;  
  text-transform: uppercase;
  color: dodgerblue;
}

h2 {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-kerning: none ;
  font-size: 200;
  line-height: 2rem;
  /* letter-spacing: .5em; */
  color: rgb(45, 56, 214);
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: yellowgreen;
  opacity: 80;
}
body {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 10rem;
  text-align: center
}

p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: auto;
  text-align: left;
  font-kerning: none;
}
ul {
  opacity: 50;
  font-weight: 200;
  color: darkslateblue;
  /* margin-left: 30.25vw; */
  list-style-position: inside;
  text-align: center;
  /* position: absolute; */
  
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
  color: yellowgreen;
  opacity: 80;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

/* background */

img{
  height: 500px;
  width: 450px;
  }
  h1{
  color: pink;
  margin-top: 20px;
  font-family: Comic Sans MS, cursive, sans-serif;
  }
  .button{
  margin-left: 45%;
  z-index:-1;
  }